<?xml version='1.0' encoding='utf-8'?>
<configuration>
    <appSettings>
        <!-- Each WorkingDir/ will contain the last 5 full setup context with the CKSetup.log file in it. -->
        <add key="WorkingDirectory" value="{TestProjectName}/WorkingDir"/>
        <!--
          In addition to the WorkingDir/CKSetup.log, a Logs/ folder will be created in each project folders.
          Note that these logs will contain more data than the CKSetup.log files since the CKSetup.log only contains
          the logs of the CKSetup run itself.
        -->
        <!-- The defaults are the opposite of this. Here we use the texts rather than the default CKMon files. -->
        <add key="Monitor/LogToCKMon" value="false"/>
        <add key="Monitor/LogToText" value="true"/>
        <add key="Monitor/LogToConsole" value="true"/>
        <!-- The default is Debug (full), here we use Trace level. -->
        <add key="Monitor/LogLevel" value="Trace"/>
    </appSettings>
</configuration>
